body {
  font-family: "Ubuntu";
  background-color: #f8f9fa;
}

header {
  padding-top: 170px;
  padding-bottom: 140px;
}

header h1 {
  font-weight: 700;
  font-size: 3em;
}

#ctc {
  padding-top: 140px;
  padding-bottom: 60px;
}





